{% extends 'base.html' %}
{% from 'helpers/form_helpers.html' import render_field %}

{% block content %}
<div class="thread_wrapper">
    <section>
        <section>
            <h2>Make a new thread</h2>
            <form method="POST" id="thread_form" class="flex_row">
                {{ form.csrf_token }}
                {{ render_field(form.title) }}
                {{ render_field(form.description) }}
                {{ render_field(form.submit, class="flex_row_child form_button") }}
            </form>
        </section>
        <section>
            {% for thread in data %}
                <h4>
                    <a href="{{ url_for('thread', thread_id=thread.id) }}">{{ thread.title }}</a> - By
                    <a href="{{ url_for('profile', accountId=thread.owner.id) }}">{{ thread.owner.username }}</a>
                    - {{ thread.timeModified.strftime('%H:%M %d-%m-%Y') }}
                    {% if current_user.admin or current_user.id == thread.owner.id  %}
                        - <a href="{{ url_for('edit_thread', thread_id=thread.id) }}" class="action_link">Edit</a>
                        - <a href="{{ url_for('delete_thread', thread_id=thread.id) }}" class="action_link">Delete</a>
                    {% endif %}
                </h4>
            {% endfor %}
        </section>
    </section>
</div>
{% endblock %}