{% extends 'base.html' %}
{% from 'helpers/form_helpers.html' import render_field %}
{% from 'helpers/render_comment.html' import render_comment %}

{% block content %}
    <div class="thread_wrapper">
        <section>
            <h1>{{ thread.title }}</h1>
            <h4>{{ thread.description }}</h4>
            <section>
                <h3 class="center_text">Make a new comment</h3>
                <form method="POST" id="thread_form" class="flex_row">
                    {{ form.csrf_token }}
                    {{ render_field(form.body) }}
                    {{ render_field(form.submit, class="flex_row_child form_button") }}
                </form>
            </section>
            <section>
                {% for comment in thread.comments %}
                    {{ render_comment(comment) }}
                {% endfor %}
            </section>
        </section>
    </div>
{% endblock %}